<h2>{{ posts|length }} articles trouvés</h2>

<div class="row overflow-y-auto" style="max-height: 50vh;">
    {% for post in posts %}
        <div class="col-md-3 col-sm-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
</div>